{% set prefix = 'I18N_TAB_PREFIX' %}
<div data-admin="translatable-content" data-prefix="{{ prefix }}">
    <ul class="nav nav-tabs translation-tabs">
        {% for locale in _locales %}
            {% block tab_item %}
                <li class="{% if loop.first %}active{% endif %}"><a href="#{{ prefix }}_{{ locale }}" data-toggle="tab">{{ locale|language|capitalize }}</a></li>
            {% endblock %}
        {% endfor %}
    </ul>

    <div class="tab-content translation-content">
        {% for locale in _locales %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ prefix }}_{{ locale }}" data-locale="{{ locale|language|capitalize }}">
                {% set translation = form.translations[locale] %}

                {% block i18n_form_fields %}
                    {% for field in translation %}
                        {{ form_row(field) }}
                    {% endfor %}
                {% endblock %}
            </div>
        {% endfor %}
        {% if form.translations.vars.errors is not empty %}
            <div class="error">
                {{ form_errors(form.translations) }}
            </div>
        {% endif %}
    </div>
</div>